<!DOCTYPE html>
<html lang="es">
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing
@using AlquileresApp.UI.Components

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>Alquilando</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="_content/AlquileresApp.UI/app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
</head>

<body>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(AlquileresApp.UI.Components.Layout.MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(AlquileresApp.UI.Components.Layout.MainLayout)">
                <p role="alert">Lo sentimos, no hay nada en esta dirección.</p>
            </LayoutView>
        </NotFound>
    </Router>
    <script src="_framework/blazor.web.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html> 