@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Routing
@using AlquileresApp.UI.Components

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AlquileresApp.UI.Components.Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(AlquileresApp.UI.Components.Layout.MainLayout)">
            <p role="alert">Lo sentimos, no hay nada en esta dirección.</p>
        </LayoutView>
    </NotFound>
</Router> 